<aside id="footer">
  <div class="copyright">
    <p class="constrain">
      <%= copyright_notice %>
    </p>
  </div>

  <nav class="constrain">
    <ul class="piped">
      <% @nav_links['All'].each do |link| %>
        <li><%= link_to link['text'], link['url'], title: link['title'] %></li>
      <% end %>
    </ul>
  </nav>
</aside>