<div id="masthead">
  <div class="tagline">
    <p>console.log<span>(<span>'brian'</span>)</span>;</p>
  </div>

  <nav>
    <div class="constrain">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </nav>

  <% unless @page.suppressed? :logline %>
    <header>
      <div class="constrain">
        <h1>Brian J. Dillard</h1>
        <h2>Chicago software craftsman</h2>
      </div>
    </header>
  <% end %>
</div>