<div id="masthead">
  <nav>
    <div class="tagline constrain">
      <p>console.log<span>('brian')</span>;</p>

      <ul class="piped">
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </nav>

  <% unless @page.suppressed? :logline %>
    <header class="constrain">
      <h1>Brian J. Dillard</h1>
      <h2>Chicago software craftsman</h2>
    </header>
  <% end %>
</div>