@mixin footer-setup($fontSize, $init: false) {
  #container #footer {
    font-size: $fontSize;
  }

  @if $init == true {
    #container #footer {
      .copyright {
        padding: 6em 0 .5em;
        background-color: #000;
      }

      nav {
        padding: .5em 0 6em;
      }

    }
  }
}
