<article>
  <section>
    <header>
      <h2>My secret origin</h2>
    </header>

    <p>
      <span class="dropCap">I</span> started programming around the age of 11,
      in 1984. I logged countless hours coding
      <a href="http://en.wikipedia.org/wiki/Applesoft_basic">Applesoft BASIC</a>
      on an
      <a href="http://en.wikipedia.org/wiki/Apple_II_Plus">Apple II Plus</a>
      at the
      <a href="http://www.willard.lib.mi.us/">public library</a>
      in
      <a href="http://en.wikipedia.org/wiki/Battle_Creek,_Michigan">Battle Creek, MI</a>.
    </p>

    <p>
      My grandfather bought us a
      <a href="http://en.wikipedia.org/wiki/Texas_Instruments_TI-99/4A">TI-99/4A</a>
      for Christmas, so I played around with the TMS 9919 Complex Sound
      Generator and saved the resulting programs on cassette tapes.
    <p>
      
    <p>
      I also went to computer camp and watched
      <a href="http://en.wikipedia.org/wiki/Whiz_Kids_(TV_series)">Whiz Kids</a>
      religiously. I was very cool.
    </p>

    <p>
      Both of my parents were
      <a href="http://en.wikipedia.org/wiki/Fortran">computer programmers</a>,
      but I thought I was going to be a journalist. In high school, I gave up
      coding and became an English Department nerd: debate, forensics, drama
      club and the yearbook. In college, I spent five years at
      <a href="http://statenews.com/">The State News</a>,
      the independent daily student newspaper at
      <a href="http://msu.edu/">Michigan State University</a>.
      I covered campus politics, edited the entertainment section, managed the
      copy desk, and penned many youthfully solipsistic columns for the
      op-ed page.
    </p>
  </section>

  <section>
    <header>
      <h2>My professional life</h2>
    </header>

    <p>
      <span class="dropCap">I</span> was lucky enough to graduate with a B.A.
      in English right as the web was taking off. Instead of having to chase
      entry-level journalism jobs in small Midwestern towns, I was able to
      crash on my sister's couch in Chicago until I landed my first job as an
      "HTML content creator" at a shady Internet startup.
    </p>

    <p>
      Luckily, by the time <a href="http://en.wikipedia.org/wiki/Adbot">the
      Feds raided the place and threw the owner in prison</a>, I was long gone.
    </p>

    <p>
      At each successive job, I taught myself more technical skills, from
      <a href="http://en.wikipedia.org/wiki/Javascript">JavaScript</a>
      and
      <a href="http://en.wikipedia.org/wiki/VBScript">VBScript</a>
      to
      <a href="http://en.wikipedia.org/wiki/Tables_for_layout">table-based layout</a>
      and nascent
      <a href="http://en.wikipedia.org/wiki/CSS">CSS</a>.
      By the time I arrived in San Francisco in 2000 &mdash; right after the
      <a href="http://en.wikipedia.org/wiki/Dot-com_bubble">dot-com bubble</a>
      had burst, but before we all realized it &mdash; I had become a pretty
      good approximation of a real software engineer. In 2003 I moved back to
      Chicago, whose
      <a href="http://www.builtinchicago.org/">burgeoning startup scene</a>
      has been good to me.
    </p>

    <p>
      For much of my career, I've focused on the view layer: CSS, HTML and
      especially JavaScript. I've built user interfaces in several generations
      of web application frameworks, from
      <a href="http://en.wikipedia.org/wiki/Active_Server_Pages">ASP classic</a>
      to
      <a href="http://en.wikipedia.org/wiki/JavaServer_Pages">JSP</a>
      and
      <a href="http://en.wikipedia.org/wiki/Wordpress">WordPress</a>.
      In the last several years, I've gotten back to my roots as a generalist,
      doing full-stack
      <a href="http://rubyonrails.org/">Ruby on Rails</a>
      and
      <a href="http://www.sinatrarb.com/">Sinatra</a>
      development for my employers and my own projects.
    </p>

    <p>
      I've been writing online since the mid-'90s. My music site,
      <a href="http://www.armchair-dj.com/">Armchair DJ</a>,
      launched in 1996, before the term "blog" existed. It's been dormant for
      a long time, but I'm always toying with the idea of relaunching it. I've
      also contributed hundreds of freelance movie reviews and recaps to the
      <a href="http://www.allmovie.com/">All Movie Guide</a>.
    </p>

    <p>
      During a previous life at a Chicago-based software shop, I blogged about
      software development several times a week, spoke at tech conferences,
      and participated in open-source projects. It was a fun detour, but I'm
      much happier building real products for real users than posing as a
      "thought leader" (whatever that means).
    </p>
  </section>

  <section>
    <header>
      <h2>My personal life</h2>
    </header>

    <p>
      <span class="dropCap">I</span> am a Tattooed American. I ride a bike and
      don't own a car. I listen to podcasts and NPR. I don't eat meat.
      <a href="http://www.lsna.net/">I live in a neighborhood where hipsters go to die</a>.
      I am a giant collection of demographic clich&#233;s, but I try hard not
      to be annoying about any of them.
    </p>

    <p>
      I got gay-married in September 2012 to the coolest guy in the world. His
      name is Charlie and we are big old nerds.
    </p>

    <p>
      In homebody mode, we sit in a giant bed named
      <a href="http://en.wikipedia.org/wiki/Serenity_(Firefly_vessel)">Serenity</a>
      watching
      <a href="http://en.wikipedia.org/wiki/Vampire_Diaries">The Vampire Diaries</a>
      and laughing at our cats. When we're feeling more adventurous, we hit
      <a href="http://www.flashbackweekend.com/">horror-movie festivals</a>,
      chow down at the
      <a href="http://handlebarchicago.com/">two</a>
      <a href="http://lulacafe.com/">best</a>
      vegan-friendly restaurants in Chicago, and sit on a stoop somewhere with
      our friends.
    </p>
    
    <p>
      At this very moment, wherever we are, we're probably sipping the
      classiest cocktail known to man: the mixture of <a
      href="http://www.jamesonwhiskey.com/">Jameson Irish Whiskey</a> and <a
      href="http://www.rootbeer.com/flavors/diet_root_beer.aspx">A&amp;W Diet
      Root Beer</a> that we like to call the Slim Fit. We're also partial to
      Liz Lemon's famous
      <a href="http://www.youtube.com/watch?v=S2ITOHA8iek">Funky Juice</a>,
      especially when prepared with
      <a href="http://www.makethelist.net/tag/target-wine-cube-sangria/">boxed sangria from Target</a>.
    </p>

  </section>
</article>