<article>
  <section>
    <p>
      <span class="dropCap">The</span> best way to contact me is via email, at
      b [at] briandillard [dot] com.
    </p>

    <p>
      Please don't cold-call me &mdash; even if you have my digits in a database
      somewhere. I'm very averse to the telephone. (My mom will confirm this.)
    </p>

    <p>
      If you email me, I promise to get back to you, even if it's just to say
      "No, thanks."
    </p>

    <p>
      You can also find me via the usual <a href="/links">social networks</a>.
    </p>
  </section>
</article>