<article>
  <section>
    <p>
      If I were
      <a href="http://www.neilgaiman.com/">Neil Gaiman</a>,
      I could blame it on the web goblins. But I'm a professional software
      engineer, so I should probably just apologize.
    </p>

    <p>
      If you're feeling magnanimous, you could <a href="/links">contact me</a>
      to tell me what went wrong. Thanks!
    </p>
  </section>
</article>