<article>
  <section>

    <p>
      <span class="dropCap">I'm</span> a versatile software craftsman with
      full-stack experience, from state-of-the-art UI technologies to backend
      infrastructure and cloud deployment.
    </p>

    <p>
      I build consumer web and mobile applications using Ruby on Rails,
      Sinatra, JavaScript. HTML5, CSS3, jQuery, responsive design, git, AWS,
      Heroku, Unicorn, nginx, SOLR and many other languages, platforms and
      frameworks.
    </p>

    <p>
      I'm only interested in positions that:
    </p>

    <ul class="bulleted">
      <li>are lean, agile and UX-focused.</li>
      <li>require hands-on programming.</li>
      <li>involve product/technology leadership.</li>
      <li>allow me to commute by bike from Chicago's west side (or don't
      require me to leave my house).</li>
    </ul>
  </section>

  <section>
    <header>
      <h3>Get in touch</h3>
    </header>

    <p>
      Looking for a technology veteran who can help you define, build, test,
      ship and maintain your product?
    </p>

    <p>
      <a href="/contact">What are you waiting for? Contact me.</a>
    </p>
  </section>
</article>
    