<article>
  <section>
    <p class="monument">
      <span class="dropCap">Hi!</span> I'm
      <a href="http://www.linkedin.com/in/briandillard">Brian Dillard</a>,
      a
      <a href="http://github.com/armchairdj">software engineer</a>
      and
      <a href="http://www.armchair-dj.com/">occasional writer</a>
      living in Chicago's Logan Square neighborhood.
    </p>

    <p>
      <span class="dropCap">I</span> build
      <a href="http://www.amazon.com/Dont-Make-Think-Usability-ebook/dp/B000SEGQNS/">rich user interfaces</a>
      for mobile and desktop
      <a href="http://www.amazon.com/Agile-Development-Rails-Pragmatic-Programmers/dp/1934356549/">web applications</a>
      using a variety of technologies, especially
      <a href="http://www.amazon.com/JavaScript-The-Good-Parts-ebook/dp/B0026OR2ZY/">JavaScript</a>
      and
      <a href="http://www.amazon.com/The-Ruby-Programming-Language-ebook/dp/B0026OR3JO/">Ruby</a>.
      I've been programming professionally since 1996.
    </p>

  </section>

  <section>
    <header>
      <h2>When I'm not coding, I ...</h2>
    </header>

    <div class="phantasm">
      <ul class="bulleted">
        <li>
          hang out with my
          <a href="http://charlieandbrian.com/">awesome husband</a>.
        </li>

        <li>
          play with our adorable cats,
          <a href="http://en.wikipedia.org/wiki/River_Song_(Doctor_Who)">River</a>
          and
          <a href="http://en.wikipedia.org/wiki/Oz_(Buffy_the_Vampire_Slayer)">Oz</a>.
        </li>

        <li>
          obsess over
          <a href="http://www.amazon.com/Words-For-Snow-Kate-Bush/dp/B005PTQPU0/">Kate Bush</a>
          &amp;
          <a href="http://www.amazon.com/Buffy-Vampire-Slayer-Complete-Series/dp/B0046XG48O/">Buffy</a>
          &amp;
          <a href="http://www.amazon.com/Zombi-Anniversary-Special-Edition-2-Disc/dp/B00009WVNT/">horror films</a>
          &amp;
          <a href="http://www.amazon.com/Absolute-Sandman-Vol-1/dp/1401210821/">The Sandman</a>.
        </li>

        <li>
          <a href="http://www.amazon.com/Urban-Bikers-Tricks-Tips-Low-Tech/dp/0965172821/">ride my bike</a>
          around Chicago.
        </li>

        <li>
          plan my next <a href="/tattoo">tattoo</a>.
        </li>

        <li>
          try not to be one of the
          <a href="http://www.quickmeme.com/Annoying-Vegan/">annoying</a>
          vegans.
        </li>
      </ul>
    </div>

  </section>
</article>
