<aside class="vcard home noname">
  <div class="fn n">
    <span class="given-name">Brian</span>
    <span class="additional-name">J.</span>
    <span class="family-name">Dillard</span> 
  </div>
  <div class="email">b (at) briandillard (dot) com</div>
  <div class="adr">
    <span class="type">Mailing</span>
    <div class="street-address">1658 N. Milwaukee Ave. #362</div>
    <span class="locality">Chicago</span>, 
    <abbr class="region" title="Illinois">IL</abbr> 
    <span class="postal-code">60647</span>
    <div class="country-name">USA</div>
  </div>
</aside>

<article>
  <section>
    <header>
      <h3><a href="#summary">Summary</a></h3>
    </header>

    <div class="content" id="summary">
      <ul class="bulleted">
        <li>Strong technical leader who can collaborate effectively with business and product owners.</li>
        <li>Proficient JavaScript architect capable of building entire frameworks and modernizing legacy code.</li>
        <li>Experienced development manager dedicated to mentorship, coaching, training and documentation.</li>
        <li>Detail-obsessed, jack-of-all-trades software engineer with strong ops, server-side and database skills.</li>
        <li>Passionate advocate for the end user with a proven track record of developing powerful, usable interfaces.</li>
        <li>Successful, results-driven professional with a wealth of experience dot-coms, startups and agencies.</li>
        <li>Internet/ecommerce veteran with a diverse skill set: technical, creative and editorial.</li>
      </ul>
    </div>
  </section>

  <section>
    <header>
      <h3>Skills &amp; Technologies</h3>
    </header>

    <dl class="linear">
      <dt>Programming and Product Methodologies</dt>
      <dd>agile, lean &amp; test-driven</dd>
      <dd>minimum viable product</dd>

      <dt>Web Application Platforms</dt>
      <dd>Ruby on Rails, Sinatra &amp; Node</dd>
      <dd>WordPress, JSP, PHP &amp; ASP</dd>

      <dt>Server-Side Technologies</dt>
      <dd>nginx, Apache, Unicorn &amp; Mongrel</dd>
      <dd>Redis, Resque, SOLR, MongoDB &amp; CouchDB</dd>
      <dd>SQL, MySQL, Oracle SQL</dd>
      <dd>AWS, RDS, EC2, S3, Route 53, BIND, Heroku</dd>

      <dt>UI Technologies</dt>
      <dd>JavaScript, Ajax &amp; JSON</dd>
      <dd>SASS &amp; CSS 3</dd>
      <dd>ERB, Markdown, HTML 5 &amp; XHTML</dd>
      <dd>XML, XSD, &amp; XSL</dd>

      <dt>UI Libraries/Tools</dt>
      <dd>jQuery, jQuery UI, Underscore &amp; Backbone</dd>
      <dd>Modernizr, Curl, Require, Respond &amp; HTML5 Shiv</dd>
      <dd>Prototype, Script.aculo.us, Ext &amp; Base2</dd>
      <dd>Firebug, JsLint, Jasmine, JsUnit &amp; Selenium</dd>

      <dt>UI Strategies and Approaches</dt>
      <dd>SEO, analytics &amp; A/B testing</dd>
      <dd>web standards &amp; progressive enhancement</dd>
      <dd>user experience design &amp; usability</dd>

      <dt>Development Tools</dt>
      <dd>TextMate, bash, vim, git, Pow</dd>
      <dd>GitHub, Basecamp, OS X, Linux &amp; VMWare</dd>

      <dt>IA and Graphics</dt>
      <dd>Pixelmator, Photoshop, etc.</dd>
      <dd>functional design skills that complement dedicated UX resources</dd>

      <dt>Editorial</dt>
      <dd>strong writing, copy-editing and &mdash; ugh &mdash; wordsmithing skills</dd>
    </dl>
  </section>

  <section>
    <header>
      <h3>Professional Experience</h3>
    </header>

    <div>
      <h4>
        <span class="company">Viewpoints LLC</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">Principal Engineer</span>
        <span class="company"><a href="https://local.viewpoints.com">Local Viewpoints</a></span>
        <span class="tenure">2012-present</span>
      </h5>

      <ul class="bulleted">
        <li>Cofounded this new startup, which empowers small business owners to collect, analyze and publish feedback from their clients.</li>
        <li>Led the front-end, back-end and UX/design teams during development, beta testing and launch of our minimum viable product.</li>
        <li>Built a responsively designed mobile webapp from scratch using Rails 3.2, SASS and my own custom JavaScript and ERB frameworks.</li>
        <li>Oversaw rollout of reliable, scalable integration and production environments using Unicorn, nginx and Amazon Web Services (EC2, S3, RDS, Route 53).</li>
      </ul>

      <h5>
        <span class="title">User Interface Lead</span>
        <span class="company"><a href="http://www.viewpoints.com">Viewpoints</a></span>
        <span class="tenure">2011-2012</span>
      </h5>

      <ul class="bulleted">
        <li>Owned the controller and view architecture for the second-largest collection of consumer product reviews on the web.</li>
        <li>Doubled mobile traffic in a year by rebuilding the site's UI from scratch using Ruby, ERB, SASS, jQuery and responsive design.</li>
        <li>Improved pageviews per visit and radically reduced loading times by eliminating front-end and server-side performance bottlenecks.</li>
      </ul>

      <h5>
        <span class="title">User Interface Developer</span>
        <span class="company">MySears, MyKmart &amp; Craftsman Community</span>
        <span class="tenure">2010</span>
      </h5>

      <ul class="bulleted">
        <li>Architected and built consumer-facing features for web properties owned by Sears Holding Company.</li>
        <li>Improved QA efficiency by implementing JavaScript unit testing, static code analysis and automated acceptance testing.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">OptionsHouse/Peak6</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">Senior UI Technical Lead</span>
        <span class="tenure">2009-2010</span>
      </h5>

      <ul class="bulleted">
        <li>Recruited, mentored and led six-person UI team for this JavaScript-based online trading platform.</li>
        <li>Accelerated feature development by modernizing a home-grown, 2006-era Ajax framework into modular, scalable components.</li>
        <li>Improved conversion rates by building new jQuery-based account signup application.</li>
        <li>Empowered product leads by implementing A/B testing and business analytics across multiple properties.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">Pathfinder Development</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">Ajax Development Lead</span>
        <span class="tenure">2007-2009</span>
      </h5>

      <ul class="bulleted">
        <li>Set company standards for view-layer code: JavaScript, CSS, markup, and progressive enhancement.</li>
        <li>Wrote multiple weekly blog, tutorial and opinion pieces for Agile Ajax, Ajaxian and IBM developerWorks.</li>
        <li>Spoke at industry conferences including Web 2.0 Expo and The Ajax Experience.</li>
        <li>Developed a variety of Ajax-powered user interfaces for internal and client projects.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">Orbitz</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">UI Technical Lead</span>
        <span class="tenure">2007</span>
      </h5>

      <ul class="bulleted">
        <li>Managed final launch of company's new, fully accessible, internationalized white-label travel platform.</li>
        <li>Tracked maintenance metrics and managed relationships between developers and international stakeholders.</li>
        <li>Standardized UI architecture, set coding standards, and developed code-review processes for 25 UI engineers.</li>
      </ul>

      <h5>
        <span class="title">Senior UI Engineer</span>
        <span class="tenure">2005-2007</span>
      </h5>

      <ul class="bulleted">
        <li>Oversaw development of travel packages &mdash; the company's most profitable vertical &mdash; during the buildout of a completely new travel platform.</li>
        <li>Won two separate Power of One awards for exceptional effort on development of new features.</li>
        <li>Collaborated on information architecture, developed functional requirements, and managed local and offshore UI project teams.</li>
        <li>Built object-oriented JavaScript and custom JSP components &mdash; including hotel user reviews &mdash; from scratch.</li>
      </ul>

      <h5>
        <span class="title">Software Engineer</span>
        <span class="tenure">2005</span>
      </h5>

      <ul class="bulleted">
        <li>Performed a full range of front-end programming tasks for this rapidly expanding online travel site.</li>
        <li>Refactored legacy HTML, CSS and JavaScript code into a fully standards-based architecture.</li>
        <li>Transitioned antiquated JSP code into a Tiles-based render framework using JSTL and custom tag libraries.</li>
        <li>Contributed significantly to the relaunch of sibling sites CheapTickets.com and Lodging.com.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">United Airlines</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">Technical Web Producer</span>
        <span class="tenure">2004-2005</span>
      </h5>

      <ul class="bulleted">
        <li>Developed complex, consumer-facing DHTML intefaces for this major airline's new booking engine.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">Reflect True Custom Beauty</span>
        <span class="city">San Francisco</span>
      </h4>

      <h5>
        <span class="title">Web Developer</span>
        <span class="tenure">2000-2003</span>
      </h5>

      <ul class="bulleted">
        <li>Helped sell the idea of customization to a mass audience at the internet's No. 1 beauty site, a provider of personalized beauty products.</li>
        <li>Built and A/B-tested advanced DHTML interfaces for quarterly product rollouts.</li>
        <li>Worked with senior management, designers and marketers to design and program automated loyalty programs.</li>
        <li>Replaced third-party legacy code by writing extensive JavaScript, DHTML and CSS libraries.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">Various companies</span>
        <span class="city">Chicago</span>
      </h4>

      <h5>
        <span class="title">Webmaster and Programmer</span>
        <span class="tenure">1996-2000</span>
      </h5>

      <ul class="bulleted">
        <li>Taught myself JavaScript, HTML, CSS and ASP at a succession of editing and webmaster jobs.</li>
      </ul>
    </div>

    <div>
      <h4>
        <span class="company">Self-employed</span>
        <span class="city">San Francisco &amp; Chicago</span>
      </h4>

      <h5>
        <span class="title">Software Engineer</span>
        <span class="tenure">1996-present</span>
      </h5>

      <ul class="bulleted">
        <li>Developed web applications for a variety of clients, from software startups to local merchants to independent rock bands.</li>
      </ul>
    </div>
  </section>

  <section>
    <header>
      <h3>Education</h3>
    </header>

    <h4>B.A., Honors College, Michigan State University, East Lansing, MI</h4>

    <ul class="bulleted">
      <li>English major/journalism minor.</li>
      <li>Worked full-time at The State News, the independent daily student newspaper.</li>
    </ul>
  </section>
</article>

