@mixin container-setup($viewport, $containerPad) {
  $fullWidth: $viewport - (2 * $containerPad);

  #container {
    .constrain {
      width: $fullWidth;
    }

    #inner {
      padding-left: $containerPad;
      padding-right: $containerPad;

      #main {
        width: $fullWidth;
      }
    }
  }
}