/***** Lists: Totally stripped down *****/

@mixin stripped-list {
  li {
    float: none;
    @include unpiped-li;
  }
}

/***** Lists: Piped *****/

@mixin piped-list {
  line-height: $readable;

  li {
    display: inline-block;

    &:after {
      content: "|";
      display: inline-block;
      margin: 0 6px 0 10px;
    }

    &:last-child:after {
      content: "";
    }
  }
}

@mixin fancy-piped-list {
  @include piped-list;

  li:after {
    content: "\00A0\00A0|\00A0";
  }
}

/* To cancel piping */

@mixin unpiped-li {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

/***** Lists: Indented *****/

@mixin indented-list {
  padding: 0 0 0 1em;

  li {
    padding: 0 0 5px;
  }
}

/***** Lists: Bulleted *****/

@mixin bulleted-list {
  padding: 0 0 0 1em;
  margin: 0 0 10px;

  li {
    padding-left: .35em;
    list-style-type: square;
  }
}

/***** Lists: Numbered *****/

@mixin numbered-list {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2.5em;

  li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 10px;
  }
}

/***** Lists: Navigation links *****/


/***** Definition lists: Indented *****/

@mixin linear-definition-list {
  margin-bottom: 0;

  &:last-child {
    margin-bottom: -.5em;
  }

  > dt {
    font-weight: bold;
    margin: 0 0 .5em;
  }

  > dd {
    margin: -.5em 0 .5em;
  } 
}

@mixin formatted-definition-list($termWidth: 30%) {
  $definitionWidth: 95% - $termWidth;

  @include clearfix;

  margin-bottom: 0;

  &:last-child {
    margin-bottom: -1em;
  }

  > dt,
  > dd {
    float: left;
  }

  > dt {
    clear: left;
    font-weight: bold;
    width: $termWidth;
    margin: 0 0 1em;
  }

  > dd {
    width: $definitionWidth;
    margin: 0 0 1em .5em;
  }
}
