a {
  color: $hexGlobalHighlight;
  @include hover-link;
}

a:focus {
  outline: thin dotted;
}

a[href='#']:focus {
  outline: none;
}

a:visited {
  color: $hexGlobalHighlight;
}

a:hover,
a:active {
  color: $hexGlobalHighlight;
  outline: 0;
}
