blockquote,
dl,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}

article {
  line-height: $spacious;
  @include sensible-bottom-margin(1em);

  header,
  section {
    @include sensible-bottom-margin(1em);
  }

  p img {
    display: block;
    float: left;
    margin: 0 .5em .5em 0;
  }

  blockquote,
  dl,
  ol,
  ul,
  p {
    @include sensible-bottom-margin(1em);

    span.dropCap {
      text-transform: uppercase;
      float: left;
      font-size: 2.75em;
      line-height: 1;
      font-weight: bold;
      padding: 0 10px 0 0;
      @include headline-font;
    }
  }
}

.str {
  text-decoration: line-through;
}

blockquote {
  padding-left: 2em;
}

strong,
.strong {
  font-weight: bold;
}

em,
.em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headline-font;
  font-size: 1em;
  margin: 0;
  @include sensible-bottom-margin(1em);
}


