$viewport: 1024px;

body {
  @include container-setup($viewport, $pxContainerPadLarge, 292px);

  &.resume {
    @include container-setup($viewport, $pxContainerPadLarge);
  }

  #container container-setup {
    header {
      h1,
      h2 {
        display: inline-block;
      }

      h2 {
        font-size: .3em;
        text-align: right;
      }
    }
  }

  #container {
    #footer {
      padding: 1em 0;

      .logo {
        display: block;
        float: left;
        margin: -2.75em 0.75em 0 0;

        a:hover img {
          border-color: #999;
        }

        img {
          border: 1px solid $black;
          @include border-radius(4px);
          @include box-shadow(rgba(0, 0, 0, 0.8) 2px 4px 20px);
          width: 150px;
          height: 150px;
        }
      }

      .footerText {
        padding-top: 20px;
        float: left;
        max-width: 600px;
      }
    }
  }
}

.phantasm {
  @include fancy-bg-image-right(url('/img/phantasm.jpg'), 250px, 158px, 672px, 42px);
}

.monument {
  @include fancy-bg-image-right(url('/img/monument.jpg'), 250px, 153px, 672px, 42px);
}